/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * BASE
 * Headings.............H1–H6 styles.
 * Paragraphs...........Paragraph styles.
 *
 * Universal
 * Container Primitives...Wrapping and constraining elements.
 * Font Primitives.......Generic font styles.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * Media queries
 * Medium...............Media queries for medium screens
 *
 */



/*------------------------------------*\
  Settings
\*------------------------------------*/

  :root{
    --header-font: 'Nunito', sans-serif;
    --sub-font: 'PT Sans', sans-serif;

    --light-grey: #E2E2DF;
    --dark-grey: #D2D2CF;
    --background-dark: #F7D9C4;
    --background-light: #FAEDCB;
    --blue: #C6DEF1;
    --green: #C9E4DE;
    --purple: #DBCDF0;
    --pink: #F2C6DE;
    --peach: #F9C6C9;
  }



/*------------------------------------*\
  Base
\*------------------------------------*/

h1 {
  font-family: var(--header-font);
  font-size: 2rem;
  font-weight: lighter;
}

h2 {
  font-family: var(--header-font);
  font-size: 1.5rem;
  font-weight: lighter;
}

body {
 background: var(--background-dark);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*------------------------------------*\
  Universal
\*------------------------------------*/

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Primitives */

.margin-top-sm {
  margin-top: .5rem;
}

.margin-top-md {
  margin-top: 1rem;
}

.margin-top-lg {
  margin-top: 2rem;
}


/*------------------------------------*\
  Components
\*------------------------------------*/

/* Header */

header {
  background: var(--purple);
  width: 100%;
  padding: 0.5rem 1.5rem;
}

/* Form */

.form-container {
  background: var(--background-light);
  width: 90vw;
  max-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

input {
  background: var(--blue);
  border-radius: 15px;
  border: none;
  margin: 1rem .5rem;
  width: 65vw;
  max-width: 20rem;
  min-height: 3rem;
}

input::placeholder {
  font-size: 1.25rem;
  font-family: var(--sub-font);
 }

#add-task-btn {
  font-size: 3rem;
  color: var(--dark-grey);
}
 

/* Kanban */

.kanban-container {
  background: var(--background-light);
  min-height: 10rem;
  width: 90vw;
  max-width: 30rem;
  border-radius: 30px;
}

.kanban-container h2 {
  margin-left: 2rem;
  
}

/*------------------------------------*\
  Media queries
\*------------------------------------*/